.SpecialOccasions {
    .Content {
        padding-top: 30px;
    }

    .Controls {
        display: flex;
        flex-direction: column;
        gap: 40px;
    }

    .MenuRow {
        padding-top: 20px;
        display: flex;
        align-items: center;
        gap: 50px;
    }

    .SelectMenu {
        display: flex;
        align-items: center;
    }

    .Label {
        margin-right: 10px;
    }

    .BlueLightBulb {
        background-image: url('../../assets/BlueLamp.svg');
        width: 50px;
        height: 50px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        cursor: pointer;
    }

    .PurpleLightbulb {
        background-image: url('../../assets/PurpleLamp.svg');
        width: 50px;
        height: 50px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        cursor: pointer;
    }

    .GreenLightbulb {
        background-image: url('../../assets/GreenLamp.svg');
        width: 50px;
        height: 50px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        cursor: pointer;
    }

    .ButtonContainer {
        display: flex;
        justify-content: center;
        margin-top: 20px;
    }

    .RadioOptions {
        padding-left: 5px;
    }
}