.Weather {
    .ConditionTitle {
        font-size: 20pt;
        font-weight: bold;
    }

    .ConditionInfo {
        font-size: 18pt;
    }

    .InfoTitle {
        font-size: 18pt;
        font-weight: bold;
    }

    .InfoWeather {
        font-size: 18pt;
        padding-left: 10px;
    }

    .ConditionIcon {
        background-image: url('../../assets/WeatherButtonIcon.svg');
        background-size: contain;
        background-repeat: no-repeat;
        display: inline-block;
        width: 25px;
        height: 25px;
        margin-left: 5px;
        vertical-align: text-bottom;
    }

    .Info {
        display: flex;
        padding: 10px;
    }

    .TemperatureIcon {
        background-image: url('../../assets/Temperature.svg');
        background-size: contain;
        background-repeat: no-repeat;
        width: 25px;
        height: 25px;
    }

    .HumidityIcon {
        background-image: url('../../assets/Humidity.svg');
        background-size: contain;
        background-repeat: no-repeat;
        width: 25px;
        height: 25px;
        margin-right: 5px;
    }

    .WindIcon {
        background-image: url('../../assets//Wind.svg');
        background-size: contain;
        background-repeat: no-repeat;
        width: 25px;
        height: 25px;
        margin-right: 5px;
    }

    .ArrowIcon {
        background-image: url('../../assets/Arrow.svg');
        background-size: contain;
        background-repeat: no-repeat;
        width: 25px;
        height: 25px;
        margin-left: 5px;
        align-self: end;
    }
}