body {
    margin: 0;
    font-family: sans-serif;

    a {
        text-decoration: none;
        color: black;
    }

    .NavigationButton {
        width: 100%;

        .BackButton {
            margin-left: 160px;
        }
    }
}