@green: #65DE1A;
@green-hover: #00cc00;

@ham-blue: #7A82BC;
@ham-blue-hover: #5d66a8;

@blue: #3457D5;
@blue-hover: #0000cc;

@purple: #D31CE0;
@purple-hover: #7700cc;

@yellow: #daa14e;
@yellow-hover: #bc8128;

#lightBulb {
    cursor: pointer;
    transition: fill 0.6s ease;

    &.green {
        fill: @green;

        &:hover {
            fill: @green-hover;
        }
    }

    &.hamBlue {
        fill: @ham-blue;

        &:hover {
            fill: @ham-blue-hover;
        }
    }

    &.blue {
        fill: @blue;

        &:hover {
            fill: @blue-hover;
        }
    }

    &.purple {
        fill: @purple;

        &:hover {
            fill: @purple-hover;
        }
    }

    &.yellow {
        fill: @yellow;

        &:hover {
            fill: @yellow-hover;
        }
    }
}